[project]
name = "localresearch"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "einops>=0.8.1",
    "numpy>=2.3.2",
    "pymupdf>=1.26.3",
    "pymupdf4llm==0.0.19",
    "sentence-transformers>=5.1.0",
    "torch>=2.8.0",
]
